* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background: #f5f8fc;
        }

        .testimonial-section {

            width: 100%;
            padding: 70px 40px;
            text-align: center;
        }

        .testimonial-section h1 {

            font-size: 52px;
            color: #22439a;
            font-weight: bold;
        }

        .subtitle {

            margin-top: 18px;
            color: #555;
            font-size: 20px;
            margin-bottom: 60px;
        }

        .testimonial-container {

            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
        }

        .testimonial-card {

            width: 360px;
            background: #fff;
            border-radius: 20px;
            padding: 35px;
            position: relative;
            overflow: hidden;
            text-align: center;

            box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
        }

        .quote-box {

            position: absolute;
            top: 0;
            right: 0;

            width: 78px;
            height: 78px;

            background: #2d73ff;

            border-bottom-left-radius: 70px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .quote-box i {

            color: white;
            font-size: 28px;
        }

        .testimonial-card h2 {

            margin-top: 10px;
            color: #26468d;
            font-size: 28px;
        }

        .testimonial-card h4 {

            margin-top: 10px;
            color: #ff7043;
            font-size: 18px;
            font-weight: 600;
        }

        .stars {

            margin: 22px 0;
            color: #ffc107;
            font-size: 24px;
            letter-spacing: 4px;
        }

        .testimonial-card p {

            color: #555;
            font-size: 20px;
            line-height: 1.8;
            text-align: left;
        }

        @media(max-width:1150px) {

            .testimonial-container {

                flex-direction: column;
                align-items: center;
            }

            .testimonial-card {

                width: 90%;
                max-width: 450px;
            }

        }

        @media(max-width:600px) {

            .testimonial-section h1 {

                font-size: 35px;
            }

            .subtitle {

                font-size: 16px;
            }

            .testimonial-card {

                padding: 25px;
            }

            .testimonial-card p {

                font-size: 17px;
            }

        }

        .whatsapp-btn {
            position: fixed;
            left: 25px;
            bottom: 25px;
            width: 60px;
            height: 60px;
            background: #25D366;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #fff;
            font-size: 34px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
            z-index: 999;
        }

        .whatsapp-btn:hover {
            transform: scale(1.08);
        }


        .chat-box {
            position: absolute;
            right: 25px;
            bottom: 25px;
            z-index: 999;
        }

        .chat-btn {
            width: 65px;
            height: 65px;
            background: #183B8C;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 28px;
            text-decoration: none;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
        }

        .notification {
            position: absolute;
            top: -3px;
            right: -3px;
            width: 22px;
            height: 22px;
            background: red;
            color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-weight: bold;
            border: 2px solid white;
        }
        .chat-text {
            position: absolute;
            right: -8px;
            bottom: 55px;
            color: #37b7d6;
            font-size: 20px;
            font-style: italic;
            font-weight: bold;
            transform: rotate(-30deg);
            white-space: nowrap;
        }


        .chat-text::before {
            content: "👋";
            position: absolute;
            left: -25px;
            top: -5px;
            font-size: 18px;
        }