* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background: #f4f4f4;
        }

        .container {

        }
        
        .services {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            width: 90%;
            max-width: 1200px;
            margin: 60px auto;
        }

        .card {
            flex: 1;
            border: 1px solid #dddddd;
            border-collapse: collapse;
            border-radius: 6px;
        }

        .card img {
            width: 100%;
            height: 220px;
            object-fit: cover;
        }

        .card h3 {
            margin-top: 18px;
            font-size: 30px;
            color: #222;
        }

        .card p {
            margin-top: 12px;
            font-size: 17px;
            color: #666;
            line-height: 28px;
        }

        .choose {
            text-align: center;
            width: 100%;
            background: #fafafa;
            padding: 70px 20px;
            border-top: 1px solid #dddddd;
        }

        .choose h1 {
            font-size: 55px;
            color: #5d63a5;
            font-weight: 300;
        }

        .underline {
            width: 70px;
            height: 4px;
            background: #f15a24;
            margin: 18px auto 60px;
        }

        .choose-container {
            display: flex;
            justify-content: space-between;
            width: 90%;
            max-width: 1200px;
            margin: auto;
            border: 1px solid #e0e0e0;
            background-color: #fafafa;
        }

        .box {
            flex: 1;
            padding: 20px;
            border-right: 1px solid #e5e5e5;
        }

        .box:last-child {
            border-right: none;
        }

        .box i {
            font-size: 55px;
            color: #bfbfbf;
            margin-bottom: 20px;
        }

        .box h4 {
            color: #f15a24;
            font-size: 24px;
            font-weight: 500;
        }

        .box h2 {
            color: #ef3c23;
            font-size: 60px;
            margin: 10px 0;
        }

        .box p {
            color: #666;
            font-size: 17px;
            line-height: 28px;
        }